.App {
  padding: 0 8px;
}

#mtitle {
  font-weight: bold;
  font-size: 26px;
}

#footer {
  margin-top: 20px;
  padding: 5px 0 5px 0;
  border-top: thin solid;
  color: #444444;
  font-size: 12px;
}

#footer a {
  color: #444444;
  text-decoration: none;
}

.cboth {
  clear: both;
}

.u1 {
  background-color: #fffffa;
}

input[type="text"].u1:focus {
  border-color: #93bc1a;
}

.u2 {
  background-color: #eeffed;
}

input[type="text"].u2:focus {
  border-color: #1abc9c;
}

#parsed .compt {
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  padding: 5px 10px;
  width: 320px;
  max-width: 100%;

  border: 1px solid #ccd3d8;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

  background-color: #ECF0F1;
  text-overflow: ellipsis;

  color: #2980B9;

  -webkit-transition: border 0.2s linear, color 0.2s linear, background-color 0.2s linear;
  transition: border 0.2s linear, color 0.2s linear, background-color 0.2s linear;
}

#parsed .compt.diff {
  background-color: #ffcccc;
  border-color: #E67E22;
  color: #C0392B;
}

#parsed .compt .fd {
  display: block;
  padding: 5px 0;
}

#parsed .compt .fd .name {
  font-weight: bold;
  font-size: 1.2em;
  font-family: consolas;
}

#parsed .compt .fd .meta {
  margin-left: 5px;
  color: #666666;
  font-style: italic;
  font-size: 80%;
}

.hidden {
  display: none;
}

#msgs .msg {
  padding: 10px;
  background-color: #e3f1ff;
  margin: 10px auto;
}

#msgs .msg h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#msgs .msg .same {
  color: #16A085;
  font-weight: bold;
}

#msgs .msg .diff {
  color: #E74C3C;
  font-weight: bold;
}

#msgs .msg .act {
  margin-top: 10px;
  margin-bottom: 5px;
}

.cab {
  margin-right: 5px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
}

.cab.ckd {
  background-color: #34495E;
  border-color: #2C3E50;
  color: #ffffff;
}

.cabs {
  padding-right: 5px;
}

.urlui {
  margin-bottom: 7px;
  font-size: 1.15em;
}

.urlui > .actions {
  position: relative;
  padding: 8px 0;
}

.box input[type="text"],
.compt input[type="text"] {
  width: 100%;
  margin-bottom: 5px;
}

.compt input[type="text"] {
  height: 28px;
  font-size: 14px;
}

.btn-wrap {
  display: inline-block;
  padding-right: 10px;
}

.btn {

  color: #444;

  border-width: 1px;
  border-style: solid;
  border-radius: 3px;

  border-color: #aaa;
  background-color: #eee;

  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;

  padding: 10px 15px;

  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.1s ease-in-out, color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  transition: border 0.1s ease-in-out, color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.btn.btn-small {
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 13px;
}

.sep::before {
  content: "|";
  padding: 0 4px;
}